* {
    font-family: 'Lato', sans-serif;
    margin: 0 0 0 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #001941;
}

#logo {
    padding: 0 50px;
    border-bottom: 2px solid white;
}

#github-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top: 2px solid white;
    background-image: url(/images/GitHub-Mark-Light-32px.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

#github-link a {
    position: absolute;
    top: 10px;
    left: 80px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#main {
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 280px;
    padding-right: 30px;
}

#repos-name {
    color: #001941;
    font-weight: bold;
}

#account {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 140px;
    height: 110px;
}

#profile {
    position: absolute;
    top: 15px;
}

#profile img {
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

#profile p {
    position: absolute;
    top: 0;
    left: 60px;
    font-size: 16px;
    font-color: #001941;
    font-weight: bold;
}

#profile button {
    position: absolute;
    top: 25px;
    left: 50px;
}

#form-login .form-control {
    margin-top: 7px;
    margin-bottom: 7px;
    height: 30px;
}

#account * .btn {
    margin-left: 8px;
    padding: 2px 5px;
    font-size: 13px;
}

#tabs {
    position: relative;
    top: 10px;
}

.nav-tabs li a {
    line-height: 1.0;
}

#tab-content {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 5px;
}

#tab-signup * input {
    width: 250px;
    margin-bottom: 10px;
}

#tab-signup * button {
    margin-top: 10px;
}

#tab-console div {
    float: left;
    padding: 20px 30px 0 5px;
    font-size: 14px;
}

#console-column1, #console-column3 {
    color: #666666;
}

#console-column2, #console-column4 {
    color: #222244;
    width: 300px;
}

#tab-console code {
    display: block;
    position: absolute;
    top: 130px;
    left: 5px;
    width: 98%;
    padding: 10px;
    color: #f0f0f0;
    background-color: #101010;
    font-family: "LetterGothicMono";
    font-size: 14px;
}

#tab-account * input {
    width: 250px;
    margin-bottom: 10px;
}

#tab-account * button {
    margin-top: 10px;
}

#tab-container * #container-name {
    width: 250px;
}

#tab-container * #container-desc {
    width: 625px;
}

#tab-container * textarea {
    position: relative;
    top: -15px;
    width: 625px;
}

#tab-container * button {
    margin-top: 10px;
}
