* {
    font-family: 'Lato', sans-serif;
    margin: 0 0 0 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

a:focus {
    outline: none;
}

#aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #001941;
}

#logo {
    padding: 0 50px;
    border-bottom: 2px solid white;
}

#queue-box {
    position: fixed;
    top: 80px;
    bottom: 57px;
    left: 10px;
    width: 230px;
    overflow-x: hidden;
    overflow-y: auto;
}

#queue {
    width: 330px;
    height: 100%;
    overflow-y: scroll;
}

.github-task, .bitbucket-task {
    position: relative;
    margin: 0 90px 12px 2px;
    height: 48px;
    background-color: white;
    /*border-radius: 3px; */
}

.github-task:hover, .bitbucket-task:hover {
    background-color: #ddd;
}

.github-task {
    background-image: url(/images/GitHub-Mark-Pale-48px.png);
    background-repeat: no-repeat;
}

.bitbucket-task {
    background-image: url(/images/Bitbucket-Mark-Pale-48px.png);
    background-repeat: no-repeat;
}

.task-left {
    position: absolute;
    top: 2px;
    left: 10px;
    text-align: left;
    font-size: 14px;
    color: #001941;
}

.task-right {
    position: absolute;
    top: 2px;
    right: 10px;
    text-align: right;
    font-size: 14px;
    color: #88b;
}

#github-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top: 2px solid white;
    background-image: url(/images/GitHub-Mark-Light-32px.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

#github-link a {
    position: absolute;
    top: 10px;
    left: 80px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

#github-link a:hover {
    color: #bbb;
}

#main {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    padding-left: 280px;
    padding-right: 30px;
}

#repos-name {
    color: #001941;
    font-weight: bold;
}

#account {
    position: absolute;
    top: 10px;
    right: 30px;
    height: 110px;
    min-width: 120px;
}

#profile {
    margin-top: 15px;
}

#profile img {
    float: right;
    margin: 2px;
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

#profile div {
    float: right;
    width: 250px;
    margin-right: 10px;
}

#profile div p {
    height: 0px;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    color: #001941;
}

#profile div p:hover {
    color: #66b;
}

#profile div button {
    float: right;
    margin-top: -6px;
}

#form-login {
    padding-top: 1px;
    width: 140px;
}

#form-login .form-control {
    margin-top: 7px;
    margin-bottom: 7px;
    height: 30px;
}

#account * .btn {
    margin-left: 8px;
    padding: 2px 5px;
    font-size: 13px;
}

#tabs {
    position: relative;
    top: 10px;
}

.nav-tabs li a {
    line-height: 1.0;
}

#tab-content {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 5px 5px 10px;
}

#tab-signup * input {
    width: 250px;
    margin-bottom: 10px;
}

#tab-signup * button {
    margin-top: 6px;
}

#tab-console div {
    float: left;
    padding-right: 25px;
    font-size: 14px;
}

#console-column1, #console-column3 {
    color: #666666;
}

#console-column2, #console-column4 {
    color: #222244;
    width: 32%;
}

#tab-console code {
    display: block;
    position: absolute;
    top: 80px;
    width: 98%;
    max-width: 880px;
    padding: 10px;
    color: #f0f0f0;
    background-color: #101010;
    font-family: "LetterGothicMono";
    font-size: 14px;
}

#tab-history {
    position: relative;
    top: -10px;
}

#tab-account * input {
    width: 250px;
    margin-bottom: 10px;
}

#tab-account * button {
    margin-top: 6px;
}

#tab-repos form {
    margin-bottom: 20px;
}

#tab-repos form div label {
    margin-right: 10px;
}

#tab-repos .form-inline * input {
    width: 360px;
    margin-right: 10px;
}

#repos-options {
    position: absolute;
    right: 0;
    width: 36%;
}

#repos-options * textarea {
    font-family: 'LetterGothicMono', Monospace;
    font-size: 14px;
}

#repos-options button {
    margin-top: 6px;
}

.repos-group {
    position: relative;
    width: 61%;
    height: 72px;
    padding-top: 10px;
    padding-left: 5px;
    border-top: 1px solid #ddc;
}

.repos-group:hover {
    background-color: #eee;
}

.repos-group a {
    position: relative;
    top: -8px;
    left: 8px;
    font-size: 15px;
    font-weight: bold;
}

.repos-group p {
    position: relative;
    top: -16px;
    left: 42px;
    width: 60%;
    font-size: 12px;
    color: #666;
}

.repos-group button {
    padding: 2px 4px;
    width: 64px;
    font-size: 13px;
}

.repos-group #unwatch-button {
    position: absolute;
    top: 7px;
    right: 5px;
}

.repos-group #options-button {
    position: absolute;
    top: 38px;
    right: 5px;
}

#tab-container {
    position: relative;
    top: -10px;
}

#tab-container * #container-name {
    width: 250px;
}

#tab-container * #container-desc {
    width: 625px;
}

#tab-container * textarea {
    position: relative;
    top: -15px;
    width: 625px;
}

#tab-container * .btn-primary {
    margin-top: 6px;
}

#tab-container * .btn-danger {
    padding: 2px 5px;
    font-size: 13px;
}
